* {
  box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #634767;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: #397e3b;
    }

li a.active {
    color: white;
    background-color:  #592960;
    }

body {background-color:  #3b1241;}
h1 {color:aliceblue}
h2 {color:aliceblue}
h3 {color:aliceblue}
h4 {color:aliceblue}
h5 {color:aliceblue}
th {color:aliceblue}
p {color:azure}
a {color:lightblue}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}

.onethirdcolumn {
    float: left;
    background-color:blue;
    width: 33%;
    padding: 10px;
    height: 300px;
}

.twothirdscolumn {
    float: left;
    background-color:rgb(180, 73, 145);
    width: 67%;
    padding: 10px;
    height: 300px;
}


.thincolumn {
    float: left;
    background-color:blue;
    width: 38%;
    padding: 10px;
    height: 300px;
}

.thickcolumn {
    float: left;
    background-color:rgb(180, 73, 145);
    width: 62%;
    padding: 10px;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}