* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
}

.clear { clear: both; }

hr {
  color: aliceblue;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #634767;
}

  ul.a {
    list-style-type: circle;
  }

  ul.b {
    list-style-type: square;
        padding: 1em
  }

li {
    color:azure;
  }
  
li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li a:hover {
    background-color: #397e3b;
    }

li a.active {
    color: white;
    background-color:  #592960;
    }

li b {
    color:azure;
    font-size: 118.75%;
}

table, th, td {
  border:1px solid aliceblue;
}

td {color:aliceblue}

td.left {text-align: center; width: 25%;}
td.right {text-align: left; padding-left:6px;}

body {background-color:  #3b1241;}
h1 {color:aliceblue;    text-align: center;}
h2 {color:aliceblue;    text-align: center;}
h3 {color:aliceblue;    text-align: center;}
h4 {color:aliceblue;    text-align: center;}
h5 {color:aliceblue;    text-align: center;}
th {color:aliceblue;    text-align: center;}

p {
  color:azure;
  font-size: 118.75%;
}

figure_caption {
  color:azure;
  font-size:  140%;
  text-align: center;
}

p.figure_caption {
  color:azure;
  font-size:  140%;
  text-align: center;
}

row {
  min-height: 100vh;
  overflow:auto;
}

a {color:lightblue}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.fullcolumn {
  float: left;
  width: 100%;
  padding: 10px;
}

.onethirdcolumn {
  float: left;
  width: 33%;
  padding: 10px;
}

.onethirdcolumnright {
  float: right;
  width: 33%;
  padding: 10px;
}

.twothirdscolumn {
  float: left;
  width: 67%;
  padding: 10px;
}


.thincolumn {
  float: left;
  width: 38%;
  padding: 10px;
}

.thickcolumn {
  float: left;
  width: 62%;
  padding: 10px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}